body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: block;
}
.bg-gray {
    background-color: rgb(223, 218, 218);
}
.box1 {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    }
.text1 {
    text-align: center;
    padding: 0;
    font-size: 20px;
    }    
    .input {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .button {
        text-align: center;
    }
    .button1 {
        padding:0 20px ;
    }
    .textlink1 {
        width: 35%;
        margin-right: 1px;
        padding: 2px;
        background: rgb(138, 201, 210);
        text-align: center;
    }
    
    .textlink2 {
        width: 25%;
        margin-left: 1px;
        margin-right: 1px;
        padding: 2px;
        background: rgb(138, 201, 210);
        text-align: center;
    }
    .textlink3 {
        width: 45%;
        margin-left: 1px;
        padding: 2px;
        background: rgb(138, 201, 210);
        text-align: center;
    }
    .listnonestyle {
        list-style-type: none;
    }
    .undertext {
        width: 100%;
        display: inline-flex;
        margin-top: 8px;
    }
    
    
    